body{
    max-width: 750px;
    margin: 0 auto;
    background-image: url(img/fond.png);
}


header{
    background-color: antiquewhite;
    height: 115px;
    
}

/* logo */

img[alt="logo Super"]{
    margin : 10px;
    float: left;
}

/* barre de navigation */

nav{
  
    position: relative;
    left: 60px;
    top: 40px;
    display: inline-block;
   
}
/* balise main */
main {
    background-color: white;
    padding: 10px;
   
 
}

/* lien de la barre de navigation */

nav > a {
    font-size: 20px;
    margin: 0 20px;
    color:orange;
    font-weight: bold;
    text-decoration: none;
   
}

/* LES TITRES */

h2{
    
    clear: left;
    font-size: 24px;
    color: orange;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    margin:0 auto;
   
}

/* FLOAT */

img[alt="photo de l'équipe"]{
   
   float: left;
   width: 40%;
   
}

/* paragraphe */


 p {
    font-size: 16px;
    color: grey;
    font-family: 'Poppins', sans-serif;
}



/* lire plus */

   article  a[href = "#"] {
    display: inline-block;
    margin: 5px;
    position: relative;
    left: 640px;
    top: 5px;
    padding: 5px 0;
     background-color: orange;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
 
}

.clear{
    clear: left;
}

/* float image 2*/

img[alt="photo de l'équipe et dollars"]{

   display: inline;
   float: left;
   width: 40%;
}

/* elements de ul */
li{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: grey;
}



.clear > a{
    background-color: brown;
}

footer{
display: inline-block;
position : relative;
left: 250px;
top:40px;
}

article{
    float: left;
}


